*.o
*.ctl
*.pci
*.cyfit
*.plc_log
*.pco
*.sdc
*.rt_log
*.rpt
*.vh2
*.v
*.sdf
*.log
*.ctl
*.cyfit
*.pci
*.pco
*.plc_log
*.rpt
*.rt_log
*.sdc
*.sdf
*.v
*.vh2
*.lst
*.P
*.lst
*.log
*.pdb
*.exe
*.tlog
*.tlog
*.tlog
*.idb
*.pdb
*.ipch
*.bin
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/cat1cm0p/release-v1.9.0/
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/cmsis/release-v5.8.2/
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/core-make/release-v3.7.0/
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/core-lib/release-v1.6.0/
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/mtb-pdl-cat1/release-v3.18.0/
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/recipe-make-cat1a/release-v2.6.0/
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/mtb-hal-cat1/release-v2.7.4/
Codigo/Algoritmospostcuanticos/Psoc_modus/mtb_shared/retarget-io/release-v1.9.0/
